pip>=23.0
setuptools
wheel

tensorflow==2.13.0

numpy==1.24.3
pandas==2.0.3
scipy==1.10.1

matplotlib
seaborn

scikit-learn
joblib

Flask==2.3.3
Flask-Cors

pyYAML
python-box==6.0.2
tqdm
ensure==1.0.2
dvc

notebook